<div class="user-details">
    <mat-list >
        <mat-list-item class="u-text-align-center">
            <span class="mat-h2">Descrição</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class=" mat-h2">Nome: </span><span>{{user.nome | dashIfEmpty}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item >
            <span class=" mat-h2">Idade: </span><span>{{user.idade | dashIfEmpty}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class=" mat-h2">Email: </span><span>{{user.email | dashIfEmpty}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class=" mat-h2">Endereço: </span><span> {{user.endereco | address}}
        </span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item >
            <span class=" mat-h2">Telefone: </span><span>{{user.telefone | phone}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class=" mat-h2">Data de cadstro: </span><span>{{user.dataCadastro | date:'dd/MM/yyyy'}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class=" mat-h2">Status: </span><span>{{user.ativo | status}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
             <span class=" mat-h2">Função: </span><span>{{user.funcao | dashIfEmpty}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>