<div class="user-details">
    <mat-list >
        <mat-list-item class="u-text-align-center">
            <span class="mat-h2">Descrição</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class=" mat-h2">Nome: </span><span>fulano</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item >
            <span class=" mat-h2">Idade: </span><span>fulano</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class=" mat-h2">Email: </span><span>fulano</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class=" mat-h2">Endereço: </span><span>fulano</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item >
            <span class=" mat-h2">Telefone: </span><span>fulano</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class=" mat-h2">Data de cadstro: </span><span>fulano</span>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>
            <span class=" mat-h2">Status </span><span>fulano</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
</div>